<div data-ng-class="{'error': !IsValid, 'btn-group btn-block input-with-symbol':field.Symbol}">
    <div>
        <input type="text"
               data-ng-if="!field.MaskCharacters"
               class="form-control errorElement"
               data-ng-model="Entity.Data[field.FieldSystemName]"
               data-ng-readonly="field.ReadOnly"/>
        <input type="password"
               data-ng-if="field.MaskCharacters"
               class="form-control errorElement"
               data-ng-model="Entity.Data[field.FieldSystemName]"/>
    </div>
    <button type="button" class="btn btn-default btn-sm errorElement"
            data-ng-show="field.Symbol" disabled="disabled">
        <span class="glyphicon glyphicon-{{field.Symbol}}"></span>
    </button>
</div>