<div data-ng-class="{'error': !tfc.IsValid, 'input-group input-with-symbol':tfc.FieldMetadata.Symbol}">
    <input type="text"
           data-ng-if="!tfc.FieldMetadata.MaskCharacters"
           class="form-control errorElement"
           data-ng-model="tfc.Entity.Data[tfc.FieldMetadata.FieldSystemName]"
           data-ng-readonly="tfc.FieldMetadata.ReadOnly"/>
    <input type="password"
           data-ng-if="tfc.FieldMetadata.MaskCharacters"
           class="form-control errorElement"
           data-ng-model="tfc.Entity.Data[tfc.FieldMetadata.FieldSystemName]"/>
    <span class="input-group-btn" data-ng-show="tfc.FieldMetadata.Symbol">
        <button type="button" class="btn btn-default btn-sm errorElement" disabled="disabled">
            <span class="glyphicon glyphicon-{{tfc.FieldMetadata.Symbol}}"></span>
        </button>
    </span>
</div>