@import "configuration";
@import "mixins";

div.dashboardActivity {
  div.emptyActivityMessage {
    text-align: center;
  }

  div.activityItem {
    .borderRadius(4px, 4px, 4px, 4px);
    background-color: @dashboardItemColor;
    border: 1px solid @contrastingDarkColor;
    box-shadow: 2px 2px @menuWidthCollapsed / 6 #888;
    padding: 20px;
    margin: 10px 0;

    &:hover {
      cursor: pointer;
      background-color: @dashboardItemHoverColor;
    }

    h4 {
      text-align: center;
    }

    div.chartLegend {
      display: inline-block;

      span {
        font-size: 0.75em;
      }

      div.colorSquare {
        display: inline-block;
        width: 8px;
        height: 8px;

        &.created {
          background-color: @dashboardChartCreated;
        }
        &.updated {
          background-color: @dashboardChartUpdated;
        }
        &.deleted {
          background-color: @dashboardChartDeleted;
        }
      }
    }

    div.chartContainer {
      display: inline-block;
    }
  }
}

div.activityList {
  padding-left: 10px;
  padding-bottom: 5px;

  div.activityListItem {
    .borderRadius(4px, 0, 0, 4px);
    border: 1px solid @contrastingDarkColor;

    height: 34px;
    margin: 4px 0;
    padding: 6px 10px 6px 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    div.viewIcon {
      position: relative;
      display: inline-block;
      top: 3px;
      margin-right: 10px;
      cursor: pointer;
    }

    span:nth-child(n+3)::before {
      content: ' - ';
    }

    &.create {
      background-color: lighten(@dashboardChartCreated, 25%);
    }
    &.update {
      background-color: lighten(@dashboardChartUpdated, 25%);
    }
    &.delete {
      background-color: lighten(@dashboardChartDeleted, 25%);
    }

    &.delete,
    &.deleted {
      padding-left: 41px;

      div.viewIcon {
        display: none;
      }
    }
  }

  //My activity list
  &.me {
    span.user {
      display: none;
    }
  }

  div.emptyActivityMessage {
    text-align: center;
  }
}
