@import "configuration";
@import "mixins";

div.loginOverlay {
  @dialogWidth: 540px;
  @dialogHeight: 250px;

  &:before {
    .overlay(880);
    content: '';
    opacity: 0.9;
  }

  > div.dialog {
    position: fixed;
    z-index: 882;

    width: @dialogWidth;
    min-height: @dialogHeight;
    border-radius: 8px;
    border: 1px solid @contrastingDarkColor;
    background-color: @baseBackgroundColor;
    box-shadow: 0 0 @menuWidthCollapsed / 3 #000;
    overflow: hidden;

    left: 50%;
    top: 50%;
    margin-left: -@dialogWidth/2;
    margin-top: -@dialogHeight/2;

    div.dialogHeader {
      font-size: 1.4em;
      height: @dialogHeight / 5;
      border-bottom: 1px solid @contrastingDarkColor;
      line-height: @dialogHeight / 5;
      background-color: @menuColor;
      vertical-align: middle;
      text-align: center;

      > div.logo {
        position: absolute;
        left: 25px;
        top: 9px;
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    div.dialogText {
      padding: 25px;
    }
  }
}