<div data-ng-class="{'error': !IsValid}">
    <!-- Search -->
    <div ng-hide="Entity.Data[field.FieldSystemName]">
        <input type="text"
               class="form-control errorElement entitySearch"
               placeholder="{{Resources.SearchForEntity}}"
               data-ng-model="SearchExpression"/>
        <ul class="search-result-menu" ng-hide="!SearchTimer && !SearchResults">
            <li ng-show="SearchResults" class="search-result-item selectable" ng-repeat="item in SearchResults">
                <a ng-click="SelectItem(item)">{{item.Text}}</a>
            </li>
            <li ng-show="SearchResults && SearchResults.MoreResults > 0" class="search-result-item more-results">
                <a>{{Resources.MoreResults.format([SearchResults.MoreResults.toString()])}}</a>
            </li>
            <li ng-show="SearchTimer" class="search-result-item">
                <a>{{Resources.Searching}}</a>
            </li>
            <li ng-show="SearchResults && SearchResults.length == 0" class="search-result-item">
                <a ng-hide="SearchResults.HasError">{{Resources.NoSearchResults}}</a>
                <a ng-show="SearchResults.HasError">{{Resources.ErrorRetrievingSearchResults}}</a>
            </li>
        </ul>
    </div>
    <!-- Selected item -->
    <div class="btn-group btn-block" ng-show="Entity.Data[field.FieldSystemName]">
        <div>
            <button type="button" class="btn btn-default btn-sm form-control errorElement selectedItem">
                <span data-system-symbol="{{Entity.Data[field.FieldSystemName] && Entity.Data[field.FieldSystemName].Value}}"></span>
                <a ng-href="#{{GetFollowItemUrl(Entity.Data[field.FieldSystemName])}}" target="_blank">
                    {{(Entity.Data[field.FieldSystemName] && Entity.Data[field.FieldSystemName].Text)}}
                </a>
            </button>
        </div>
        <button type="button" class="btn btn-default btn-sm errorElement removeButton" ng-click="this.SelectItem(null)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>
