<div data-role="dashboard">
    <div data-ng-repeat="list in ActivityLists"
         class="activityList {{::list.Type}}">
        <h2>
            {{::list.Title}}
        </h2>

        <!-- Items -->
        <div data-ng-repeat="activityListItem in list.Items"
             class="activityListItem {{::activityListItem.Operation}}">
            <a href="#{{::activityListItem.Url}}">
                <div class="glyphicon glyphicon-eye-open viewIcon"></div>
            </a>
            <span class="collection">{{::activityListItem.EntityName}}</span>
            <span class="id">{{::activityListItem.Id}}</span>
            <span class="user">{{::activityListItem.User}}</span>
        </div>
    </div>
</div>