<div class="verticalFull">
    <div data-role="full-list">
        <!-- Title -->
        <h1>
            {{::lc.ListHeader}}
        <span data-ng-repeat="icon in lc.ListHeaderIcons"
              class="glyphicon glyphicon-{{::icon.Icon}}"
              data-ng-click="icon.Action()"
              title="{{::icon.Tooltip}}"></span>
        </h1>
        <div class="empty"></div>

        <!-- Filter expressions -->
        <div data-ng-include="'angular/views/entityFilter.html'" class="filter"
             data-ng-class="{collapsed:lc.IsFilterCollapsed}"></div>

        <!-- Items list -->
        <div class="entityDetailedList">
            <!-- List item -->
            <div class="entityRecord" data-ng-repeat="listItem in lc.EntityList">
                <form-fields data-entity="listItem" data-metadata="lc.EntityMetadata" data-readonly="true"></form-fields>
                <div class="clearFloat"></div>
            </div>
        </div>

        <!-- Empty list message -->
        <span class="emptyListMessage" data-ng-hide="lc.EntityList.length">
            {{::lc.EmptyListMessage}}
        </span>

        <!-- List paging -->
        <div data-ng-include="'angular/views/listPaging.html'" class="listPaging"
             data-ng-show="lc.Paging.ShowPaging"></div>
    </div>
</div>
