<div class="verticalFull">
    <div data-role="full-list">
        <!-- Title -->
        <h1>
            {{::ListHeader}}
        <span data-ng-repeat="icon in ListHeaderIcons"
              class="glyphicon glyphicon-{{::icon.Icon}}"
              data-ng-click="icon.Action()"
              title="{{::icon.Tooltip}}"></span>
        </h1>
        <div class="empty"></div>

        <!-- Filter expressions -->
        <div data-ng-include="'angular/views/entityFilter.html'" class="filter"
             data-ng-class="{collapsed:IsFilterCollapsed}"></div>

        <!-- Items list -->
        <div class="entityDetailedList">
            <!-- List item -->
            <div class="entityRecord" data-ng-repeat="listItem in EntityList">
                <div class="entityField" data-ng-repeat="field in EntityMetadata.Fields">
                    <span class="entityFieldLabel" title="{{::field.FieldDescription}}">
                        {{::field.FieldName}} :
                    </span>
                    <span class="entityFieldValue">
                        <span data-field-component-creator data-readonly="true"></span>
                    </span>
                </div>
                <div class="clearFloat"></div>
            </div>
        </div>

        <!-- Empty list message -->
        <span class="emptyListMessage" data-ng-hide="EntityList.length">
            {{::EmptyListMessage}}
        </span>

        <!-- List paging -->
        <div data-ng-include="'angular/views/listPaging.html'" class="listPaging"
             data-ng-show="Paging.ShowPaging"></div>
    </div>
</div>
