<!-- Form -->
<div data-ng-if="!Metadata" data-ng-controller="EntityFormController as fc"
     class="verticalHalf" data-ng-include="'angular/views/entityForm.html'"></div>

<div data-ng-if="Metadata && Create" data-ng-controller="EntityMetadataFormController as fc"
     class="verticalHalf" data-ng-include="'angular/views/entityForm.html'"></div>

<div data-ng-if="Metadata && !Create" data-ng-controller="FieldMetadataFormController as fc"
     class="verticalHalf" data-ng-include="'angular/views/entityForm.html'"></div>

<!-- List -->
<div data-ng-if="!Metadata" data-ng-controller="EntityListController"
    class="verticalHalf" data-ng-include="'angular/views/entityList.html'"></div>

<div data-ng-if="Metadata" data-ng-controller="FieldMetadataListController"
     class="verticalHalf" data-ng-include="'angular/views/entityList.html'"></div>

<div class="clearFloat"></div>
