<div class="entityForm" data-role="filter">
    <div class="fields">
        <div class="entityField" data-ng-repeat="field in FilterMetadata.Fields">
            <span class="entityFieldLabel" title="{{::field.FieldDescription}}">
                {{::field.FieldName}}
            </span>
            <span class="entityFieldInput">
                <span data-field-component-creator></span>
            </span>
        </div>
        <div class="clearFloat"></div>
    </div>

    <!-- Control buttons -->
    <div class="filterControls">
        <div class="control">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm"
                        data-ng-click="IsFilterCollapsed = !IsFilterCollapsed">
                    <span class="glyphicon glyphicon-chevron-down" data-ng-show="IsFilterCollapsed"></span>
                    <span class="glyphicon glyphicon-chevron-up" data-ng-hide="IsFilterCollapsed"></span>
                    <span class="glyphicon glyphicon-filter"
                          data-ng-class="{active:!IsFilterEmpty && IsFilterCollapsed}"></span>
                </button>
                <button class="btn btn-default btn-sm btn-submit" data-ng-click="Search()"
                        data-ng-disabled="IsFilterCollapsed">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <div class="clearFloat"></div>
    </div>
</div>
