<div data-role="list">
    <!-- Title -->
    <h1>
        {{::ListHeader}}
        <span data-ng-repeat="icon in ListHeaderIcons"
              class="glyphicon glyphicon-{{::icon.Icon}}"
              data-ng-click="icon.Action()"
              title="{::{icon.Tooltip}}"></span>
    </h1>
    <div class="empty"></div>

    <div class="entityList" data-ng-class="{emptyList:!EntityList.length}"
         data-as-sortable="SortListeners" data-is-enabled="Configuration.List.MoveEnabled"
         data-ng-model="EntityList">

        <!-- List item -->
        <div class="entityRecord" data-ng-repeat="listItem in EntityList" data-as-sortable-item
             data-ng-class="{noMove:!Configuration.List.MoveEnabled}">
            <div class="commandZone">
                <div class="commandEdit" data-ng-click="ListRecordEdit(listItem)"></div>
                <div class="commandDelete" data-ng-click="ListRecordDelete(listItem)"></div>
            </div>
            <div class="dragZone" data-as-sortable-item-handle>
                <div class="threeDots"></div>
            </div>
            {{::listItem.GetDisplayName(ListItemMetadata)}}
        </div>

        <!-- Empty list message -->
        <span class="emptyListMessage" data-ng-hide="EntityList.length">
            {{::EmptyListMessage}}
        </span>

        <!-- List paging -->
        <div data-ng-include="'angular/views/listPaging.html'" class="listPaging" data-ng-if="Paging.ShowPaging"></div>
    </div>
</div>

