<div data-role="form">
    <!-- Title -->
    <h1>
        {{::fc.FormHeader}}
        <span data-ng-repeat="icon in fc.FormHeaderIcons"
              class="glyphicon glyphicon-{{::icon.Icon}}"
              data-ng-click="icon.Action()"
              title="{{::icon.Tooltip}}"></span>
    </h1>
    <div class="empty"></div>

    <div class="entityForm">
        <!-- Fields -->
        <form-fields data-entity="fc.Entity" data-metadata="fc.EntityMetadata"></form-fields>

        <!-- Save button -->
        <div class="separator"></div>
        <div class="entityField">
            <span class="entityFieldLabel"></span>
            <span class="entityFieldInput">
                <button class="btn btn-default btn-sm form-control btn-submit"
                        data-ng-disabled="!fc.Entity || fc.Entity.ErrorFields.length"
                        data-ng-click="fc.SubmitForm()">
                    {{::fc.SubmitButtonText}}
                </button>
            </span>
        </div>
    </div>
</div>
