<div class="dialog login" data-ng-if="!lc.LoggedInUser">
    <div class="dialogHeader">
        <div class="logo image-berry"></div>
        {{::lc.LoginHeader}}
    </div>

    <div class="dialogText">
        <div class="entityForm" data-role="login">
            <!-- Login form fields -->
            <form-fields data-entity="lc.Entity" data-metadata="lc.EntityMetadata"></form-fields>

            <!-- Save button -->
            <div class="separator"></div>
            <div class="entityField">
                <span class="entityFieldLabel"></span>
                <span class="entityFieldInput">
                     <button class="btn btn-default btn-sm form-control btn-submit"
                             data-ng-disabled="!lc.Entity || lc.Entity.ErrorFields.length || lc.LoginInProgress"
                             data-ng-click="lc.Login()">
                         {{::lc.LoginButtonText}}
                     </button>
                </span>
            </div>
        </div>
    </div>
</div>