<div class="btn-group btn-group-justified" data-ng-class="{'error': !bfc.IsValid}">
    <a data-role="button" class="btn btn-default errorElement" data-value="Yes"
       data-ng-click="bfc.Entity.Data[bfc.FieldMetadata.FieldSystemName] = true"
       data-ng-class="{'btn-warning': bfc.Entity.Data[bfc.FieldMetadata.FieldSystemName] === true}">{{::bfc.Resources.Yes}}</a>
    <a data-role="button" class="btn btn-default errorElement" data-value="Nothing"
       data-ng-click="bfc.Entity.Data[bfc.FieldMetadata.FieldSystemName] = null"
       data-ng-class="{'btn-warning': bfc.Entity.Data[bfc.FieldMetadata.FieldSystemName] === null, 'hidden': !bfc.FieldMetadata.ThreeState}">{{::bfc.Resources.Nothing}}</a>
    <a data-role="button" class="btn btn-default errorElement" data-value="No"
       data-ng-click="bfc.Entity.Data[bfc.FieldMetadata.FieldSystemName] = false"
       data-ng-class="{'btn-warning': bfc.Entity.Data[bfc.FieldMetadata.FieldSystemName] === false}">{{::bfc.Resources.No}}</a>
</div>
