<div data-ng-class="{'error': !lfc.IsValid}">
    <div class="input-group input-group-top">
        <input type="text" class="form-control errorElement" data-ng-model="lfc.CurrentValue"/>
        <span class="input-group-btn">
            <button class="btn btn-default btn-sm errorElement" data-ng-click="lfc.Add($event)">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>
    <ul class="dropdown-menu multichoice-items errorElement">
        <li data-ng-repeat="value in lfc.Entity.Data[lfc.FieldMetadata.FieldSystemName]">
            <button type="button" class="close" data-ng-click="lfc.Remove($event,value)">&times;</button>
            {{value}}
        </li>
    </ul>
</div>