<div class="input-group" data-ng-class="{'error': !dfc.IsValid}">
    <input type="text" class="form-control errorElement"
           data-datepicker-popup="{{dfc.FieldMetadata.Configuration.DatepickerFormat}}"
           data-ng-model="dfc.LocalDate" data-ng-change="dfc.UIValueChanged()" data-is-open="dfc.Opened"
           data-datepicker-options="{{dfc.FieldMetadata.Configuration.DatepickerOptions}}"
           readonly="readonly" data-date-disabled="dfc.IsDisabled(date, mode)"/>
    <span class="input-group-btn">
        <button class="btn btn-default btn-sm errorElement" data-ng-click="dfc.ToggleOpen($event)">
            <span class="glyphicon glyphicon-calendar"></span>
        </button>
    </span>
</div>
