<div class="input-group" data-ng-class="{'error': !IsValid}">
    <input type="text" class="form-control errorElement"
           data-datepicker-popup="{{field.Configuration.DatepickerFormat}}"
           data-ng-model="LocalDate" data-is-open="Opened"
           data-datepicker-options="{{field.Configuration.DatepickerOptions}}"
           readonly="readonly" data-date-disabled="IsDisabled(date, mode)"/>
    <span class="input-group-btn">
        <button class="btn btn-default btn-sm errorElement" data-ng-click="ToggleOpen($event)">
            <span class="glyphicon glyphicon-calendar"></span>
        </button>
    </span>
</div>
