<div class="btn-group btn-block" data-ng-class="{'error': !sfc.IsValid, 'open': sfc.Opened}">
    <div>
        <button type="button" class="btn btn-default btn-sm form-control errorElement">
            <span data-system-symbol="{{sfc.Entity.Data[sfc.FieldMetadata.FieldSystemName] && sfc.Entity.Data[sfc.FieldMetadata.FieldSystemName].Value}}"></span>
            {{ (sfc.Entity.Data[sfc.FieldMetadata.FieldSystemName] && sfc.Entity.Data[sfc.FieldMetadata.FieldSystemName].Text) ||
            (sfc.FieldMetadata.DefaultValue && sfc.FieldMetadata.DefaultValue.Text) ||
            sfc.Resources.PleaseSelect}}
        </button>
    </div>
    <button type="button" class="btn btn-default btn-sm dropdown-toggle errorElement"
            data-toggle="dropdown" data-ng-click="sfc.ToggleOpen($event)">
        <span class="caret"></span>
        <span class="sr-only"></span>
    </button>
    <ul class="dropdown-menu" data-role="menu">
        <li data-ng-repeat="option in sfc.FieldMetadata.Values" data-value="{{option.Value}}">
            <a data-ng-click="sfc.SelectOption($event,option)">
                <span data-system-symbol="{{option.Value}}"></span>
                {{option.Text}}
            </a>
        </li>
    </ul>
</div>
